In [1]:
from sklearn import preprocessing

import matplotlib as plot
import numpy as np
import pandas as pd

In [2]:
datafile = 'StrokeData.csv'
strokeDataSet = pd.read_csv(datafile)
strokeDataSet = strokeDataSet.dropna().reset_index(drop=True)
strokeDataSet.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
5,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
6,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
7,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
8,12109,Female,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
9,12095,Female,61.0,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1

In [3]:
def NormalizeCategories(dataset):
    
    # Syntax: df.loc[ df["column_name"] == "some_value", "column_name"] = "value"
    
    # Convert Genders
    dataset.loc[dataset["gender"] == "Male", "gender"] = 1
    dataset.loc[dataset["gender"] == "Female", "gender"] = 0  
    
    # Convert Ever_married
    dataset.loc[dataset["ever_married"] == "Yes", "ever_married"] = 1
    dataset.loc[dataset["ever_married"] == "No", "ever_married"] = 0  
    
    # Convert work_type
    dataset.loc[dataset["work_type"] == "Never_worked", "work_type"] = 0
    dataset.loc[dataset["work_type"] == "Private", "work_type"] = 1 
    dataset.loc[dataset["work_type"] == "Govt_job", "work_type"] = 2
    dataset.loc[dataset["work_type"] == "children", "work_type"] = 3  
    dataset.loc[dataset["work_type"] == "Self-employed", "work_type"] = 4
    
    # Convert Residence_Type
    dataset.loc[dataset["Residence_type"] == "Urban", "Residence_type"] = 1
    dataset.loc[dataset["Residence_type"] == "Rural", "Residence_type"] = 0  

    # Convert Smoking_status
    dataset.loc[dataset["smoking_status"] == "never smoked", "smoking_status"] = 0
    dataset.loc[dataset["smoking_status"] == "formerly smoked", "smoking_status"] = 1
    dataset.loc[dataset["smoking_status"] == "smokes", "smoking_status"] = 2
    dataset.loc[dataset["smoking_status"] == "Unknown", "smoking_status"] = 3

In [4]:
def NormalizeDatset(dataset):

    for column in dataset.columns:
        dataset[column] = dataset[column].astype(float)
        print("\033[1m" + "{}".format(column) + "\033[0m" + " converted to float")
        dataset[column] = (dataset[column] - dataset[column].min()) / (dataset[column].max() - dataset[column].min())

In [5]:
def FindNaN(dataset):
    return dataset[dataset.isna().any(axis=1)]

In [6]:
# get the columns from 0 to 10
features = pd.DataFrame
features = strokeDataSet.drop(['id', 'stroke'], axis = 1)
features

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked
...,...,...,...,...,...,...,...,...,...,...
4904,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown
4905,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked
4906,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked
4907,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked
4908,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown

In [7]:
classification = pd.DataFrame
classification = strokeDataSet[['stroke']].copy()
classification

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
4904       0
4905       0
4906       0
4907       0
4908       0

[4909 rows x 1 columns]

In [8]:
FindNaN(features)

Empty DataFrame
Columns: [gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status]
Index: []

In [9]:
NormalizeCategories(features)
features = features[features.gender != "Other"]
features.head(20)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,67.0,0,1,1,1,1,228.69,36.6,1
1,1,80.0,0,1,1,1,0,105.92,32.5,0
2,0,49.0,0,0,1,1,1,171.23,34.4,2
3,0,79.0,1,0,1,4,0,174.12,24.0,0
4,1,81.0,0,0,1,1,1,186.21,29.0,1
5,1,74.0,1,1,1,1,0,70.09,27.4,0
6,0,69.0,0,0,0,1,1,94.39,22.8,0
7,0,78.0,0,0,1,1,1,58.57,24.2,3
8,0,81.0,1,0,1,1,0,80.43,29.7,0
9,0,61.0,0,1,1,2,0,120.46,36.8,2
10,0,54.0,0,0,1,1,1,104.51,27.3,2
11,0,79.0,0,1,1,1,1,214.09,28.2,0
12,0,50.0,1,0,1,4,0,167.41,30.9,0
13,1,64.0,0,1,1,1,1,191.61,37.5,2
14,1,75.0,1,0,1,1,1,221.29,25.8,2
15,0,60.0,0,0,0,1,1,89.22,37.8,0
16,0,71.0,0,0,1,2,0,193.94,22.4,2
17,0,52.0,1,0,1,4,1,233.29,48.9,0
18,0,79.0,0,0,1,4,1,228.70,26.6,0
19,1,82.0,0,1,1,1,0,208.30,32.5,3

In [10]:
NormalizeDatset(features)
features.dtypes

gender converted to float
age converted to float
hypertension converted to float
heart_disease converted to float
ever_married converted to float
work_type converted to float
Residence_type converted to float
avg_glucose_level converted to float
bmi converted to float
smoking_status converted to float

C:\Users\Jaskirat\AppData\Local\Temp\ipykernel_11632\1023216985.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[column] = dataset[column].astype(float)
C:\Users\Jaskirat\AppData\Local\Temp\ipykernel_11632\1023216985.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[column] = (dataset[column] - dataset[column].min()) / (dataset[column].max() - dataset[column].min())

gender               float64
age                  float64
hypertension         float64
heart_disease        float64
ever_married         float64
work_type            float64
Residence_type       float64
avg_glucose_level    float64
bmi                  float64
smoking_status       float64
dtype: object

In [11]:
features.head(20)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1.0,0.816895,0.0,1.0,1.0,0.25,1.0,0.801265,0.301260,0.333333
1,1.0,0.975586,0.0,1.0,1.0,0.25,0.0,0.234512,0.254296,0.000000
2,0.0,0.597168,0.0,0.0,1.0,0.25,1.0,0.536008,0.276060,0.666667
3,0.0,0.963379,1.0,0.0,1.0,1.00,0.0,0.549349,0.156930,0.000000
4,1.0,0.987793,0.0,0.0,1.0,0.25,1.0,0.605161,0.214204,0.333333
5,1.0,0.902344,1.0,1.0,1.0,0.25,0.0,0.069107,0.195876,0.000000
6,0.0,0.841309,0.0,0.0,0.0,0.25,1.0,0.181285,0.143184,0.000000
7,0.0,0.951172,0.0,0.0,1.0,0.25,1.0,0.015927,0.159221,1.000000
8,0.0,0.987793,1.0,0.0,1.0,0.25,0.0,0.116841,0.222222,0.000000
9,0.0,0.743652,0.0,1.0,1.0,0.50,0.0,0.301634,0.303551,0.666667
10,0.0,0.658203,0.0,0.0,1.0,0.25,1.0,0.228003,0.194731,0.666667
11,0.0,0.963379,0.0,1.0,1.0,0.25,1.0,0.733866,0.205040,0.000000
12,0.0,0.609375,1.0,0.0,1.0,1.00,0.0,0.518373,0.235968,0.000000
13,1.0,0.780273,0.0,1.0,1.0,0.25,1.0,0.630090,0.311569,0.666667
14,1.0,0.914551,1.0,0.0,1.0,0.25,1.0,0.767104,0.177549,0.666667
15,0.0,0.731445,0.0,0.0,0.0,0.25,1.0,0.157419,0.315006,0.000000
16,0.0,0.865723,0.0,0.0,1.0,0.50,0.0,0.640846,0.138603,0.666667
17,0.0,0.633789,1.0,0.0,1.0,1.00,1.0,0.822500,0.442153,0.000000
18,0.0,0.963379,0.0,0.0,1.0,1.00,1.0,0.801311,0.186712,0.000000
19,1.0,1.000000,0.0,1.0,1.0,0.25,0.0,0.707137,0.254296,1.000000

In [20]:
features.to_csv("StrokeDatasetFeatures.csv")
classification.to_csv("StrokeDatasetClassification.csv")